<div class="container" ng-hide="isLogin">
    <div class="row">
        <form novalidate class="simple-form">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="user.email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="user.password">
            </div>

            <button type="submit" class="btn btn-default"ng-click="login(user)">log in</button>

        </form>

    </div>
</div>


<div ng-hide="!isLogin">
<div class="container-fluid" >
    <nav class="container navbar ">
        <div class="row">
            <div class="col-md-3">
                logo
            </div>
            <div class="col-md-3">
                menu
            </div>

            <div class="col-md-6">
                users info
                {{user}}
            </div>

        </div>
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            list of cources
            {{cources}}
        </div>
        <div class="col-md-3">
            list of user
        </div>
        <div class="col-md-6">
            main dachboeard
        </div>
    </div>

</div>

</div>